

/* ==========================================================================
   Author's custom styles

http://jsfiddle.net/T9Bhm/7/
http://jsfiddle.net/drueter/yqgB5/16/

fixed header tables
   ========================================================================== */





 

.ptrClass {cursor:pointer }

div.restaurantContainer {
    
    padding-bottom: 20px;
    padding-left:50px;
}

/*.selectedRow {background-color: #a47e3c;color:white}*/
.selectedRow {background-color: #0044cc; color:whitesmoke }
.editRow {  cursor:pointer }
.tableHeader 
{

    font-size: 20px;
    padding-bottom:10px;
    padding-top: 10px;
    padding-left: 3px;
    font-weight: normal;
    background-color: #3a87ad; 
    color: white;
   
}


.restaurantScrollList table {
    width: 100%;
}

.restaurantScrollList tbody,tr, td     { 
   
    display:block; }

/* 

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both; 
} */
.restaurantScrollList tr
{
   padding:2px;
  
}
.restaurantScrollList td
{
    
    vertical-align: middle;
    padding-bottom:10px;
    padding-top:10px;
    background-color: transparent
     
    
}

.restaurantScrollList td.currentUserRow
{
    color: white;
    background-color: blue;

}

.restaurantScrollList tbody {
    height:  250px;
    overflow-y: auto;
    
}



.restaurantScrollList  tbody td, thead th {

   float: left; 
} 








